@import url(../common/common.css);

:root {
  --danmu-size: 14px;
  --medal-display: 'flex';
}

#app {
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(var(--main-bg-rgb), var(--global-opacity));
  box-sizing: border-box;
  border: 2px solid #ffffff50;
}

#gift-panel {
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 0 10px;
}

.gift-entry {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ffffff62;
  border-radius: 10px;
  margin: 5px 10px;
  padding: 5px 10px;
  min-height: 75px;
  width: auto;
  color: white;
  background-color: #16161a7e;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  font-size: calc(var(--font-size) - 2px);
}

.gift-entry.free {
  display: var(--filter-free);
}

.gift-entry:hover {
  border: 1px solid #ffffff;
  background-color: #16161a;
}

.gift-entry.selected {
  border: 1px solid white;
}

.gift-entry.flipped {
  transform: translateX(100%) scale(0.5, 0.1);
  visibility: hidden;
}

.gift-title {
  align-items: center;
  justify-content: space-between;
}

.gift-sender {
  align-items: center;
  white-space: nowrap;
}

.gift-time {
  align-items: center;
  font-size: calc(var(--font-size) - 2px);
}

.gift-content {
  position: relative;
  align-items: center;
  justify-content: center;
}

.gift-info {
  align-items: center;
}

.gift-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-size: cover;
}

.gift-count {
  margin-left: 10px;
}

.gift-price-value {
  position: absolute;
  right: 5px;
}

.sender-avatar {
  width: calc(var(--font-size) * 1.5);
  height: calc(var(--font-size) * 1.5);
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(202, 202, 202, 0.774);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
