@import url(../common/common.css);

:root {
  --global-opacity: 1;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(var(--main-bg), var(--global-opacity));
  box-sizing: border-box;
  border: 2px solid var(--border);
}

#room-input-panel {
  position: fixed;
  align-items: center;
  align-content: center;
  justify-content: center;
  top: calc(50% - 40px);
  left: calc(50% - 150px);
  width: 300px;
  height: 80px;
  flex-direction: row;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--main-color);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  box-shadow: 0 0 10px black;
  border: 1px solid var(--border);
  z-index: 100;
}

input {
  color: #999999;
  background-color: rgb(var(--main-bg));
  width: 180px;
  padding: 6px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

button {
  align-items: center;
  justify-content: center;
  padding: 6px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  background-color: #00000000;
  color: var(--font-color);
  cursor: pointer;
}

button:hover {
  background-color: rgb(var(--main-bg));
}

#enter-room {
  margin-left: 10px;
}

#dropdown {
  position: relative;
}

#dropdown-content {
  top: 26px;
  right: 24px;
  flex-direction: column;
  position: absolute;
  color: var(--font-color);
  background-color: rgb(var(--main-bg));
  min-width: 160px;
  border-radius: 10px 0 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.411);
  overflow: hidden;
  z-index: 100;
  animation: ani 0.5s;
  animation-fill-mode: forwards;
  border: 1px solid var(--border);
}

:any-link {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

#dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#statusbar {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  color: var(--statusbar-font-color);
  background-color: var(--statusbar-color);
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  border-top: 1px solid var(--border);
}

#live-text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 14px;
  align-items: center;
}

#online {
  font-size: 14px;
  line-height: 16px;
  align-items: center;
}

#live-title {
  font-size: 14px;
  line-height: 16px;
  margin-left: 14px;
}

#live-heat {
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.check-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

#cover {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.sender {
  font-size: var(--danmu-size);
  word-wrap: normal;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: var(--uname-color);
  line-height: 20px;
}

.content {
  color: var(--font-color);
  font-size: var(--danmu-size);
  word-wrap: break-word;
  white-space: normal;
  vertical-align: middle;
  cursor: pointer;
  transition: all cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.2s;
  line-height: calc(var(--danmu-size) + 2px);
}

.danmu_entry {
  cursor: pointer;
  font-size: var(--danmu-size);
  padding: 1px 1px 1px 10px;
  transform: translateZ(0);
  color: var(--font-color) !important;
  line-height: calc(var(--danmu-size) + 4px);
  word-wrap: break-word;
  white-space: normal;
  align-items: center;
  margin: 3px 5px;
  border-radius: 4px;
  width: auto;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  animation: ani 0.5s;
  animation-fill-mode: forwards;
  word-break: break-all;
}

.danmu_entry.special {
  background-color: var(--danmu-special-bg);
}

.danmu_entry.gift {
  border: 2px solid #f7b500;
}
/* display a dot before danmu_entry if side */
.danmu_entry.side0::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--merge-color-0);
  margin-right: 8px;
}

.danmu_entry.side1::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--merge-color-1);
  margin-right: 8px;
}

.danmu_entry.side2::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--merge-color-2);
  margin-right: 8px;
}

.danmu_entry.side3::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--merge-color-3);
  margin-right: 8px;
}

.danmu_entry.side4::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--merge-color-4);
  margin-right: 8px;
}

.emoji {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes ani {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.danmu_entry:hover {
  box-shadow: var(--uname-color) 0 0 0 1px;
}

.danmu_entry.selected {
  box-shadow: var(--uname-color) 0 0 0 1px;
}

.danmu_entry.interact {
  display: var(--interact-display);
}

#danmu {
  position: relative;
  padding-top: 10px;
  flex-direction: column;
  height: calc(100% - 78px);
  overflow-x: hidden;
  overflow-y: auto;
}

#bottom-indicator {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  width: 100%;
  font-size: 14px;
  height: 26px;
  color: white;
  background-color: #00afeb;
  z-index: 2;
}

.action {
  color: var(--font-secolor);
  margin-left: 5px;
  vertical-align: middle;
}

.gift-name {
  color: #f7b500;
  margin-left: 5px;
  vertical-align: middle;
}

.gift-num {
  color: #f7b500;
  margin-left: 5px;
  vertical-align: middle;
}

.gift-icon {
  display: inline-block;
  width: calc(var(--danmu-size) + 4px);
  height: calc(var(--danmu-size) + 4px);
  margin-left: 5px;
  background-size: contain;
  vertical-align: middle;
}
