@import url(../assets/common.css);

#app {
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(var(--main-bg), var(--global-opacity));
  box-sizing: border-box;
  border: 2px solid var(--border);
  padding-bottom: 32px;
}

#panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#user-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
}

#user-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 12px;
}

#user-name {
  align-items: center;
  font-size: 24px;
  color: var(--font-color);
  margin: 12px;
}

#user-rate {
  align-items: center;
  font-size: 24px;
  color: var(--font-color);
  margin: 12px;
}

#danmu-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: var(--font-color);
}

.danmu-item {
  font-family: var(--font);
  font-size: var(--font-size);
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.danmu-item:hover {
  padding: 6px;
  font-weight: bold;
  box-sizing: content-box;
}

.danmu-time {
  opacity: 0.5;
  font-weight: normal;
}
