@import url(../common/common.css);

:root {
  --global-opacity: 1;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(var(--main-bg), var(--global-opacity));
  box-sizing: border-box;
  border: 2px solid #ffffff50;
}

#panel {
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
