name: Release

on:
  push:
    tags: '*'

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16.15.0
        cache: 'npm'
    - run: npm install
    - run: npm run build
    - uses: ncipollo/release-action@v1
      with:
        artifacts: "dist/*.dmg,dist/*.exe,dist/*.blockmap"
